<section id="about" class="container content-section text-center">
    <div id="about_change" class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
            <h2>About Me</h2>
            <hr class="intro-divider">
            <br/>
                <p><font size="4px"> Lorem ipsum dolor sit amet, non at curae vel. Vel eget tristique, in purus habitasse ullamcorper. Ut class eget varius libero maecenas, pellentesque cubilia vitae in tortor tempus. Aenean ullamcorper hac viverra vitae vitae massa per. </font></p>
                <p><font size="4px"> Nunc duis consectetur sed, ridiculus dapibus. Consectetur, dolor, sit a aliquam nunc ac at? Est class sit cubilia rutrum aliquam dapibus. Non sed, varius, eget a ex praesent sed habitasse pretium. Semper rutrum nascetur nulla sit fringilla lorem. Risus amet erat natoque semper. Augue rutrum mi proin hac nec convallis eget id neque in felis maecenas. Tortor eget venenatis vel tellus turpis enim mus. </font></p>
                <p><font size="4px"> Add a link:  <a href="http://site.edu/">click here</a> at <a href="https://www.ucr.edu/">UCR</a>. Adding another link <a href="http://anotherSite.ucr.edu/">Link to another site.</a></font></p>

             <br/>
        </div>
    </div>
</section>






